.nav-bar {
    background: black;
    width: 70px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;

    .logo {
        display: block;
        padding: 8px 0;
    }

    img {
        display: block;
        margin: 8px auto;
        width: 24px;
        height: auto;

        &.name {
            width: 50px;
        }
    }

    nav {
        display: block;
        text-align: center;
        position: absolute;
        height: 200px;
        top: 50%;
        margin-top: -150px;
        width: 100%;

        a {
            font-size: 21px;
            color: grey;
            display: block;
            line-height: 50px;
            height: 50px;
            position: relative;
            text-decoration: none;

            i {
                transition: all 0.3s ease-out;
            }
    
            &:hover {
                color: orange;
    
                svg {
                    opacity: 0;
                }
    
                &:after {
                    opacity: 1;
                }
            }

            &:after {
                content: '';
                font-size: 9px;
                letter-spacing: 2px;
                position: absolute;
                bottom: 0;
                display: block;
                width: 100%;
                text-align: center;
                opacity: 0;
                transition: all 0.3 ease-out;
            }

            &:first-child {
                &::after {
                    content: 'HOME';
                }
            }

        }

        a.about-link {
            &:after {
                content: 'ABOUT'
            }
        }
        a.skills-link {
            &:after {
               content: 'SKILLS'
            }
        }
        a.projects-link {
            &:after {
                content: 'PROJECTS'
            }
        }
        a.contact-link {
            &:after {
                content: 'CONTACT'
            }
        }

       
    }

}